{{!-- {{!-- {{{chatsList}}} --}}
<div>Test</div>
{{!-- <form method="post">
  {{{input}}}
  {{{submitBtn}}}
</form> --}}
{{{form}}}

{{#each chats}}
  {{{this}}}
{{/each}}




{{!-- {{{messageAlex}}}
{{{messageDan}}} --}}
