{{!-- {{{profileAvatar}}}
<div>
  {{{inputName}}}
  <p class="form-error-message"> Имя должно быть написано латиницей или кириллицей, первая буква должна быть заглавной,
    без пробелов и без цифр, нет спецсимволов (допустим только дефис) </p>
</div>
<div>
  {{{inputSName}}}
   <p class="form-error-message"> Имя должно быть написано латиницей или кириллицей, первая буква должна быть заглавной,
    без пробелов и без цифр, нет спецсимволов (допустим только дефис) </p>
</div> --}}
<div>
  {{{inputLogin}}}
  <p class="form-error-message"> от 3 до 20 символов, латиница, может содержать цифры, допустимы дефис и нижнее
    подчёркивание.</p>
</div>
{{!-- <div>
  {{{inputEmail}}}
   <p class="form-error-message">латиница, может включать цифры и спецсимволы вроде дефиса, обязательно должна быть «собака»</p>
</div> --}}
<div>
  {{{inputPassword}}}
  <p class="form-error-message">от 8 до 40 символов, обязательно хотя бы одна заглавная буква и цифра.</p>
</div>
{{!-- <div>
  {{{inputPhone}}}
   <p class="form-error-message"> от 10 до 15 символов, состоит из цифр, может начинается с плюса.</p>
</div> --}}
<div>
  {{{inputSubmit}}}
</div>

