{{!-- {{#each formInputs}} --}}
{{{inputLogin}}}
{{{inputSubmit}}}
{{{inputPassword}}}
{{{inputLoginTEST}}}


{{!-- <div class="input-wrapper">
  <input type={{this.type}} name={{this.text}} required={{this.required}} value={{this.value}}>
  <label> {{this.text}}</label>
</div> --}}
{{!-- {{/each}} --}}