<main class="main-wrapper">
  <h1>{{pageName}}</h1>

  <section class="section-wrapper">
    <h2 class="section-title">{{title}}</h2>
    <h3> {{subtitle}}</h3>
    <p> {{text}}</p>
    <a href="#" class="link-btn">{{linkText}}</a>

  </section>
</main>