<h2 class="section-title">{{{title}}}</h2>
{{{form}}}
{{{messages}}}
<div class="messages">
    {{{incoming}}}
    {{{outcoming}}}
    {{{messageForm}}}
</div>

<a class="link-btn" href="../message">
   Message
</a>
<a class="link-btn" href="../register">
    Create account
</a>

<a class="link-btn" href="/">
    Sign In
</a>

<a class="link-btn" href="../profile">
    Profile
</a>

<a class="link-btn" href="../404">
    404
</a>

<a class="link-btn" href="../500">
    500
</a>